<%- include("layout/header") %>
    <main>
        <p>header</p>
        <form action="/" method="post">
            <input type="text" placeholder="enter a programmning lenguage" name="plNames">
            <button type="submit">add lengage</button>
        </form>

        <ul>
            <% if(plNames.length > 0){ %>
               <% for(i=0 ; i < plNames.length; i++){ %>
                    <li><%=plNames[i]%></li>
               <% } %>
            <% }else{ %> 
                <p>error with plNmae</p>
           <% } %>         
        </ul>
    </main>
<%- include("layout/footer") %>